.fa-shopping-cart {
    color: #ff5e41;
    font-size: 2rem;
    margin: 0 1rem;
    padding: 8px 16px 0px 16px !important;
}

.fa-shopping-cart:hover{
    cursor: pointer;
    color: #77f9d2;
    transition: .1s ease-in-out;
}

.fa-shopping-cart:active {
    cursor: pointer;
    color: #77f9d2;
    transition: .1s ease-in-out;
}

.cartDiv p {
    color: #212529;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 0px;
    font-size: .8rem;
    letter-spacing: 2px;
    padding-left: .4rem;
}
.cart-small {
    font-size: 1.6rem;
    color: #77f9d2;
    margin: .6rem .6rem;
    padding: 0 !important;
    float: right;
}

.dropdown-menu {
    width: 350px;
    box-shadow: 4px 4px 20px -5px rgba(0,0,0,0.75);
}

.dropdown_cart_item {
    display: flex;
    /*justify-content: space-between;*/
    padding: 1rem;
    height: 6rem;
}

.imageThumb {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    height: 100%;
    width: 25%;
    overflow: hidden;
    margin-right: 1rem;
}

.imageThumb img {
    width: 100%;
}

.cart_item_desc {
    margin-right: 1rem;
    width: 50%;
}

hr {
    margin-bottom: .5rem;
}

.btn-checkout {
    margin: auto;
}
.cart-small:hover {
    color: #ff5e41;
}