@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.choose_payment{
	height: 500px;
}

.main_body {
	padding: 1rem;
}


.body-title {
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0 1rem;
}

.body-title > * {
	flex: 0 1 auto;
}

h2.body-title {
	font-size: 1.5em;
	font-weight: bold;
}

.btn-light {
	width: 4rem;
	margin: 0;
}
