@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.payment_box {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
}

.btn-secondary {
	width: 100%;
	margin-bottom: .5rem;
	
}

.btn-light {
	width: 4rem;
	margin: 0;
}

p {
	text-align: center;
}
