.sell_product_window {
	padding-top: 4rem;
}

.sell_product {
	font-size: 2rem;
	text-align: left;
	font-weight: 700;
}

.sell_product_buttons {
	justify-content: space-between;
	height: 25%;
}

Label {
	font-weight: 600;
}

img {
	width: 100%;
	height: 50%;
	margin-bottom: 1rem;
}

