

.sell_product {
	font-size: 2rem;
	text-align: left;
	font-weight: 700;
}

.sell_product_buttons {
	justify-content: space-between;
	height: 25%;
}

Label {
	font-weight: 600;
}

img {
	margin-bottom: 1rem;
}

.prependDollar span{
	background-color:rgb(75, 229, 167);
	color: white;
	font-weight: 400;
	/* font-size: 1.3rem; */
}
