.sell_product_window {
	padding-top: 4rem;
}

.sell_product {
	font-size: 2rem;
}

.sell_product_buttons {
	justify-content: space-between;
	height: 25%;
}

.btn-cancel, .btn-add {
	color: white;
	border: none;
}

.btn-add {
	background-color: #F2682E;
}

.btn-cancel {
	background-color: #1FA56F;
}

Label {
	font-weight: 600;
}

img {
	width: 100%;
	height: 50%;
	margin-bottom: 1rem;
}

